[submodule "tools/extract-xiso"]
	path = tools/extract-xiso
	url = https://github.com/mborgerson/extract-xiso.git
[submodule "lib/net/lwip"]
	path = lib/net/lwip
	url = git://git.savannah.nongnu.org/lwip.git
[submodule "lib/sdl/SDL2"]
	path = lib/sdl/SDL2
	url = https://github.com/XboxDev/nxdk-sdl.git
	branch = nxdk
