BasedOnStyle: Microsoft
ColumnLimit: 0
IndentCaseLabels: true
AlignTrailingComments: true
AlignConsecutiveMacros: true
InsertBraces: true

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterExternBlock: false
  BeforeElse: false
  AfterUnion: true

TypeNames: [VOID, PVOID, LPVOID]
